<section class="jumbotron text-center mb-5">
  <div class="container">
    <h1 class="jumbotron-heading">About</h1>
  </div>
</section>
<section class="text-center">
  <div class="container">
    <div class="row text-justify">
      <div class="col-md-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget massa mi. Mauris posuere purus a velit aliquam, ac pharetra magna pretium. Donec vestibulum, neque et consequat lobortis, nisi sem condimentum ante, vel aliquam nibh ex at tortor. Nunc facilisis laoreet dolor, eget faucibus eros imperdiet id. Suspendisse efficitur dictum metus, sed viverra velit varius ac. In fermentum vitae nisi eget feugiat. Curabitur quis est viverra, porttitor mi ut, tincidunt eros. Morbi ultrices, nulla aliquam sodales porta, diam sem scelerisque velit, sed tempor tortor arcu vel nisi. In convallis sed urna nec hendrerit. Maecenas non congue justo. Nulla est ex, rhoncus nec vestibulum sed, pretium pretium enim. Nunc ac varius nunc. Curabitur a auctor massa, in malesuada libero. Sed suscipit erat vitae sem gravida vulputate. </p>
        <p>Fusce gravida ex a augue tincidunt blandit. Pellentesque vel ipsum faucibus, viverra enim sit amet, venenatis tellus. Maecenas luctus maximus justo nec ultrices. Donec id tortor vitae sapien fringilla lobortis. Ut vulputate est eros, in commodo est laoreet at. Etiam sit amet urna semper, congue enim tincidunt, faucibus elit. Sed finibus, erat ac commodo rutrum, nisi velit scelerisque tellus, cursus bibendum felis erat eu lacus. Nullam feugiat arcu quis pulvinar tincidunt. </p>
        <p>Nam eu scelerisque lectus, nec mattis magna. Fusce non nunc augue. Fusce maximus diam quis risus condimentum sagittis. Aliquam erat volutpat. Sed consequat purus sem, nec ultricies tellus viverra vel. Sed eu sem vitae nisi fringilla volutpat quis quis metus. Morbi malesuada faucibus dignissim.</p>
      </div>
    </div>
  </div>
</section>
