<form class="inline-form search-box mr-2">
  <input name="searchBox" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
    [(ngModel)]="model" [ngbTypeahead]="search" [resultTemplate]="resultTemplate" placement="bottom-right"
    (selectItem)="itemSelected($event.item)" [inputFormatter]="titleExtrator" (focus)="model = ''">
</form>
<ng-template #resultTemplate let-thesis="result" let-t="term">
  <ngb-highlight [result]="thesis.title" [term]="t"></ngb-highlight>
</ng-template>
