<section class="jumbotron text-center mb-5">
  <div class="container">
    <h1 class="jumbotron-heading">Science Cursor</h1>
    <p class="lead text-muted">
      Science is not about looking for the "Truth" but rather to define a probability for each thesis we can think of. <br />
    </p>
    <p class="text-muted small">
      NOTE: The site contains dummy data for demonstration purpose only. The data is partially randomized and
      should not, under any circumstance, be taken seriously.
    </p>
    <p>
      <a href="#" class="btn btn-primary btn-lg">Discover</a>
    </p>
  </div>
</section>
<app-highlights [itemCount]="6"></app-highlights>
