<section class="jumbotron text-center mb-5">
  <div class="container">
    <h1 class="jumbotron-heading">Science Cursor</h1>
    <p class="lead text-muted">
      Applied bayesianism
    </p>
    <p><em>"Bayesian probability is an interpretation of the concept of probability, in which, instead of frequency or
      propensity of some phenomenon, probability is interpreted as reasonable expectation representing a state of
      knowledge or as quantification of a personal belief."</em>
      (<a href="https://en.wikipedia.org/wiki/Bayesian_probability" target="_blank">Wikipedia <fa-icon [icon]="['fas', 'external-link-alt']" size="xs"></fa-icon></a>)</p>
    <p>
      <a class="btn btn-primary btn-lg" routerLink="/theses">Explore</a>
    </p>
    <p class="text-muted small">
      NOTE: <u>This website is a prototype</u>. It contains dummy data for demonstration purpose only. The data is partially randomized and
      should not, under any circumstance, be taken seriously.
    </p>
  </div>
</section>
<app-highlights [itemCount]="6"></app-highlights>
